Source: graphite-web
Section: utils
Priority: extra
Maintainer: Mathieu Parent <sathieu@debian.org>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3~)
Standards-Version: 3.9.3
DM-Upload-Allowed: yes
Homepage: https://github.com/graphite-project/graphite-web
Vcs-Git: git://git.debian.org/collab-maint/graphite-web.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/graphite-web.git;a=summary

Package: graphite-web
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-whisper, python-cairo, python-django (>= 1.1), python-django-tagging, python-tz, libjs-scriptaculous, libjs-jquery, libjs-prototype
Recommends: graphite-carbon, python-memcache, python-sqlite, python-ldap
Description: frontend webapp for Graphite
 Graphite is a web application using the Twisted framework to provide
 real-time visualization and storage of numeric time-series data.
 .
 The Carbon daemon processes the incoming time-series data and saves it
 as Whisper database files.
 .
 This package provide the web application.

