#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR=debian/graphite-web

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install -- --install-scripts=/usr/share/graphite/bin --install-lib=/usr/lib/python2.6/dist-packages --install-data=/usr/share/graphite
	# Extra license
	rm $(DESTDIR)/usr/share/graphite/webapp/content/js/ext/license.txt
	# Move configuration to proper place
	mkdir $(DESTDIR)/etc
	mv $(DESTDIR)/usr/share/graphite/conf $(DESTDIR)/etc/graphite-web
	dh_link /etc/graphite-web /usr/share/graphite/conf
	# Move local settings to proper place
	mv $(DESTDIR)/usr/lib/python2.6/dist-packages/graphite/local_settings.py.example $(DESTDIR)/etc/graphite-web
	dh_link /etc/graphite-web/local_settings.py /usr/lib/python2.6/dist-packages/graphite/local_settings.py
	# Move examples to proper place
	mkdir -p $(DESTDIR)/usr/share/doc/graphite-web
	mv $(DESTDIR)/usr/share/graphite/examples $(DESTDIR)/usr/share/doc/graphite-web/
	dh_link /usr/share/doc/graphite-web /usr/share/graphite/examples
	# Move log to proper place
	mkdir -p $(DESTDIR)/var/log
	mv $(DESTDIR)/usr/share/graphite/storage/log $(DESTDIR)/var/log/graphite
	dh_link /var/log/graphite /usr/share/graphite/storage/log
	# Move data to proper place
	mkdir -p $(DESTDIR)/var/lib
	mv $(DESTDIR)/usr/share/graphite/storage $(DESTDIR)/var/lib/graphite
	dh_link /var/lib/graphite /usr/share/graphite/storage

override_dh_fixperms:
	# Remove execute bit on some static data
	find $(DESTDIR)/usr/share/graphite/webapp -type f -exec chmod -x {} \;
	chmod -x $(DESTDIR)/etc/graphite-web/graphite.wsgi.example
	dh_fixperms
	chown www-data $(DESTDIR)/var/log/graphite/webapp/
